name: Release

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.4.0
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        distribution: 'adopt'
        java-version: '8'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@937999e9cc2425eddc7fd62d1053baf041147db7
      with:
          arguments: shadowJar
    - name: Upload jar
      uses: AButler/upload-release-assets@v2.0
      with:
        files: ${{ github.workspace }}/speedbridge2-spigot-plugin/build/libs/*.jar
        repo-token: ${{ secrets.GITHUB_TOKEN }}
